body {
    margin: 0;
    text-align: center;
    font-family: "Roboto Slab", serif;
}

h1 {
    margin-top: 0;
    font-family: "Pacifico", cursive;
}

h2 {
    font-family: "Comfortaa", sans-serif;
}

h3 {
    font-family: "Comfortaa", sans-serif;
}


#top {
    position: relative;
    background-color: #b5c6bc;
}

#middle {
}

#bottom {
}

#home-profile-photo {
    width: 150px;
}

#web-dev-png {
    width: 150px;
}

#food-png {
    width: 150px;
}

.cloud {
    width: 160px;
}

#city {
    width: 700px;
    margin: auto;
}

#top-cloud {
    position: relative;
    left: 200px;
    top: 50px;
}

#bottom-cloud {
    position: absolute;
    bottom: 190px;
    left: 380px;
}